{% extends "layout.html" %}
{% block title %}
  New Video
{% endblock %}
<hr/>
{% block content %}
  <header>
    <h1 class="text-4xl font-semibold text-center my-5">Add a video</h1>
  </header>
  <form action="/new_video/" method="post" class="max-w-2xl m-auto border border-gray-400 rounded-xl p-5">
    {% csrf_token %}
    <div class="flex flex-col gap-5 px-8 ">
      <label for="Name" class="font-bold">Name :</label>
      <input type="text" name="name" class="bg-white border border-black"/>

      <label for="Video_url" class="font-bold">Url :</label>
      <input type="url" name="url" class="bg-white border border-black"/>

      <label for="published_date" class="font-bold">Published Date :</label>
      <input type="datetime-local" name="published_date" class="bg-white border border-black"/>
    </div>
    <br/>
    <input type="submit" value="Submit" class="mx-8 my-8 text-white bg-blue-700 font-medium rounded-lg px-5 py-2">
  </form>
{% endblock %}
