{% extends "blog/layout.html" %}

{% block title %}
  New Post
{% endblock %}

{% block content %}
  <h1>New Post</h1>
  <body class="bg-gray-100">
    <header>
      <h3 class="text-3xl font-semibold">Post Form</h3>
      <hr />
    </header>
    <div>
      <form class="" action="/new/" method="post">
        {% csrf_token %}
        <label for="author">Authors :</label>
        <select name="author">
          {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
          {% endfor %}
        </select>

        <label for="title">Title :</label>
        <input type="text" name="title">

        <label for="text">Text</label>
        <textarea name="text"></textarea>

        <label for="published_date">Published Date :</label>
        <input type="datetime-local" name="published_date">
        
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg px-5 py-2">
          <input type="submit"/>
        </button>
      </form>
    </div>
  </body>
{% endblock %}
