{% extends "blog/layout.html" %} {% block title %} Posts Lists {% endblock %}
<hr />
{% block content %}
<form method="post">
  {% csrf_token %}
  <h1 class="font-bold text-2xl mt-5 py-5">Post Lists</h1>
  <table class="w-full border border-gray-300">
    <thead class="bg-gray-200">
      <tr>
        <th class="border border-black-400 px-4 py-2">Title</th>
        <th class="border border-black-400 px-4 py-2">Text</th>
        <th class="border border-black-400 px-4 py-2">Published Date</th>
        <th class="border border-black-400 px-4 py-2">Author</th>
        <th class="border border-black-400 px-4 py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td class="border border-black-300 px-4 py-2">
          <a href="">{{ post.title }}</a>
        </td>
        <td class="border border-black-300 px-4 py-2">
          <p>{{ post.text|linebreaksbr }}</p>
        </td>
        <td class="border border-black-300 px-4 py-2">
          {{ post.published_date|date:"H:i d/m/o" }}
        </td>
        <td class="border border-black-300 px-4 py-2">
          {{ post.author }}
        </td>
        <td>
          <a href=""><button id="show" class="mx-8 my-8 text-white bg-gray-400 font-medium rounded-lg px-5 py-2">Show</button></a>
          <a href=""><button id="update" class="mx-8 my-8 text-white bg-gray-400 font-medium rounded-lg px-5 py-2">Edit</button></a>
          <a href="delete/{{post.id}}"><button id="delete" class="mx-8 my-8 text-white bg-gray-400 font-medium rounded-lg px-5 py-2">Delete</button></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
<div class="icon_and_button flex items-center justify-between max-w-2xl">
  <button
    type="button"
    class="mx-8 my-8 text-white bg-blue-600 hover:bg-blue-800 font-medium rounded-lg px-5 py-2"
  >
    <a href="/new">New Post</a>
  </button>
</div>
{% endblock %}
